<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Code</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .code-container {
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f8f8f8;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="my-4">Here is Your Code</h1>
                <div class="code-container">
                    <h2>{{ code }}</h2>
                    <p class="lead">Please note: This code is valid for single use only.</p>
                </div>
                <!-- Buttons -->
                <div class="mt-4">
                    <a href="https://www.cloudskillsboost.google/focuses/10445?&parent=catalog" class="btn btn-primary" target="_blank">First Lab</a>
                    <a href="https://www.cloudskillsboost.google/focuses/63244?&parent=catalog" class="btn btn-secondary" target="_blank">Challenge Lab</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

